* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* welcome page */
.welcomeBackground {
  position: relative;
  background: url("images/background3.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  top: 0;
  /* position: relative; */
  width: 100%;
  height: 10%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

nav {
  overflow: hidden;
  width: 95%;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .webName {
  width: 20%;
  height: 100%;
  color:#9A1C3Cff;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

nav ul {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

nav ul li {
  padding: 3px 10px;
  list-style-type: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: all .3s ease-in-out;
  margin-left: 20px;
  border-radius: 10px;
}

nav ul li a:hover,nav ul li a.active {
  color: #9A1C3Cff;
}

.index-content {
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.elements {
  left: 50%;
  top: 79%;
  transform: translate(-50%, -80%);
  position: relative;
  letter-spacing: 4px;
  text-align: center;
}

.elements h1 span {
  color: #9A1C3Cff;
  font-size: 3.5rem;
}

.elements h1 {
  font-size: 2.6rem;
  margin-bottom: 0px;
}

.elements p {
  font-size: 18px;
  padding-bottom: 10px;
  padding-right: 18px;
  text-align: center;
}

footer{
  background-color:   rgba(38, 31, 56, 0.949);
  height: 70px;
  padding-top: 1.5%;
  text-align: center;
  align-items: center;
}

/* main page */
.maintBackground{
  position: relative;
  /*background: url("images/Bricks9.jpg");*/
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;



  /* background-color:  rgba(192, 192, 192, 0.658); */
}
/* --chocolate-cosmos: #551620ff;
--amaranth-purple: #9A1C3Cff;
--dark-purple: #2F1B24ff;
--black: #050A06ff;
--dark-purple-2: #261F38ff; */


.card_container{
  /*background-color: rgba(0, 0, 0, 0.5);*/
  backdrop-filter: blur(4px);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 50px;
  width: 100%;
  height: 100%;
  margin-top: 50px; /* Add a top margin to avoid content overlay */
  /* background-color: rgba(255, 255, 255, 0.5); */
}


.card img{
  width: 100%;
  height: 60%;
  border-top-right-radius: 50px;
  border-bottom-left-radius:50px ;
}

h4{
  font-size: x-large;
}
/* .card {
  position: relative;
  width: 20%;
  height: 100%;
background-color: #F66969;
} */
.card { 
  width: 325px;
  height: 400px;
  background-color:  rgba(38, 31, 56, 0.538);
  /*background-color:  rgba(10, 7, 17, 0.538);*/
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px; 
  position: relative;
  border-radius: 0 50px 0 50px;

}


.card_content {
  padding:16px;
}

.card_content h4 {
  color: white;
  /* color: #261F38ff; */
  font-size: 28px;
  margin-bottom: 8px;
}

.card_content p {
  font-size: 15px;
  /* color: #4a4747; */
  line-height: 1.3;
}

.card_content .button {
  border-radius: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  padding: 8px 16px;
  background-color: rgba(38, 31, 56, 0.774);
  text-decoration: none;
  border: 2px solid transparent;
  margin-top: 25px;
  color: #fff;
  /* float: inline-end ; */
}

.button:hover {
  background-color: rgba(38, 31, 56, 0.677);
}
 
/* Contact us page */
.contactBackground {
  position: relative;
  background: url("images/backgroundContact.avif");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  padding: 50px 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.container form {
  width: 68%;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  flex-wrap: wrap;
}

form h1 {
  font-size: 2.3rem;
  margin-top: 20px;
  text-align: center;
}

.contact-form {
  width: 90%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

form input {
  color: white;
  width: 45%;
  height: 40px;
  outline: none;
  border: none;
  font-size: 15px;
  margin: 10px;
  background: none;
  border-bottom: 2px solid white;
}

form input::placeholder {
  color: white;
}

#dateOfBirth {
  color: white;
}

aside {
  display: inline-block;
  margin-left: -2%;
}

.Radio input {
  height: 15px;
  width: 15px;
}

form p {
  width: 50%;
  margin-top: 20px;
  display: inline-block;
  margin-left: 1.3%;
}

select {
  color: white;
  border: none;
  background: none;
  outline: none;
  font-size: 15px;
  border-bottom: 2px solid white;
  margin-left: 1%;
}

select option {
  color: black;
}

textarea {
  color: white;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  font-weight: 200;
  font-size: 15px;
  padding-top: 5px;
  outline: none;
  width: 92%;
  height: 80px;
  resize: none;
  margin-left: 1.3%;
}

.btn {
  color: white;
  display: inline-block;
  background: none;
  width: fit-content;
  border: 1.5px solid white;
  padding: 10px 45px 10px;
  border-radius: 6px;
  font-weight: bold;
  margin: 15px 10px 15px 0px;
}

.btn:hover {
  background: #4a4747;
}

/* About us page */
table {
  width: 90%;
  height:fit-content;
  display: flex;
  justify-content: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  flex-wrap: wrap;
}

table, th, td {
  border-collapse: collapse;
  padding: 20px;
  color: white;
  text-align: center;
}

thead th {
  border-bottom: 1px solid;
}

thead th .title {
  margin-bottom: 5%;
  font-size: 50px;
  font-weight: bold;
  
}

thead th p {
  font-size: 24px;
  line-height: 150%;
}

thead tr {   
  justify-content: center;
  margin: 0px 2% 0px 2%;
}

tbody td h4 {
  justify-content: first baseline;
  /* align-content:last baseline; */
  font-size: 20px;
  text-align: center;
}

tbody td h5 {
  justify-content: first baseline;
  /* align-content: last baseline; */
  font-size: 18px;
  text-align: center;
}

.social-icons {
  margin-top: 20px;
}
 
.social-icons a {
  justify-content: last baseline;
  text-decoration: none;
  font-size: 32px;
  margin-right: 12px;
  display: inline-block;
  transition: transform 0.5s;
}

#sabreenInfo .social-icons a {
  color: #ac3f69;
}

#lamaInfo .social-icons a {
  color: #348ab2;
}

#lamyaInfo .social-icons a {
  color: #F66969;
}

#sabreenInfo .social-icons a:hover, #lamaInfo .social-icons a:hover, #lamyaInfo .social-icons a:hover {
  color: #d8cfd0;
  transform: translateY(-5px);
}


@media only screen and (max-width: 945px) {
  .social-icons a {
    font-size: 20px;
    margin-right: 3px;
  }
  thead th p {
    font-size: 18px;
  }
  tbody td h4 {
    font-size: 16px;
  }
  tbody td h5 {
    font-size: 14px;
  }

  .container form {
    width: 90%;
  }
  form input {
    width: 100%;
  }

}
@media only screen and (max-width: 610px) {
  .social-icons a {
    font-size: 16px;
    margin-right: 3px;
  }
  thead th p {
    font-size: 14px;
  }
  tbody td h4 {
    font-size: 12px;
  }
  tbody td h5 {
    font-size: 10px;
  }  
  header nav ul li {
      padding: 3px 7px;
  }
  header nav ul li a {
      font-size: 9px;
  }
}
@media only screen and (max-width:829px) {
  .card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 30px;
    width: 100%;
    height: 100%;
    margin-top: 50px; 
  }
  .card img{
    width: 100%;
    height: 60%;
    border-top-right-radius: 50px;
    border-bottom-left-radius:50px ;
  }
  .card { 
    width: 225px;
    height: 300px;
    margin: 20px; 
  
  }
  
  .card_content {
    padding:10px;
  }
  
  .card_content h4 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .card_content p {
    font-size: 10px;

  }
  .card_content .button {
    border-radius: 20px;
    margin: 8px;
    padding: 6px 14px;
    margin-top: 20px;
    font-size: 16px;
  }

}
/* 
@media only screen and (max-width: 400px) {
    header nav ul li {
      padding: 3px 7px;
    }

    header nav ul li a {
      font-size: 9px;
    }

    header nav {
      height: 14%;
      flex-wrap: wrap;
    }
    header nav .webName {
      width: 100%;
      height: 45%;
      align-items: flex-end;
      justify-content: center;
    }
    header nav ul {
      width: 100%;
      height: 20%;
    }
} */